@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Radio+Canada&family=Road+Rage&family=Smooch+Sans:wght@100;200;300;400;500;600;900&family=Square+Peg&display=swap');
body{
    margin: 0px;
    font-family: 'Radio Canada';
}
/* Header */
#header{
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(180deg,rgb(153, 219, 252), rgb(255, 255, 255)) */
    background-color: yellow;
    font-family: 'Road Rage';
    z-index: 20;
}
#header-img{
    margin-left: 5%;
}
#logo-link{
    text-decoration: none;
    color: rgb(43,43,43);
    display: flex;
}
@keyframes logo-size{
    from {font-size: 25px;}
    to{font-size: 30px;
    color: black;
    padding-top: 10px}
}
@keyframes menu-logo{
    0% {width: 0%;}
    100%{width: 90%;}
}
#header-img-text{
    margin-left: 30px;
    font-size: 25px;
    font-weight: 900;
    padding-top: 15px;
    font-size: 25px;
    transition: 1s;
    font-family: 'Radio Canada';
}
#logo-link:hover #header-img-text{
    font-size: 30px;
    padding-top: 10px;
    color: black;
    letter-spacing: 3px;
}
#header-img-text::after{
    position: relative;
    content:'';
    top: -2px;
    display: block;
    height: 4px;
    background:linear-gradient(90deg,rgba(43,43,43,0),rgba(255, 255, 255, 0.844) 25% 75%,transparent 100%);
    width: 0%;
    border-radius: 5px;
    transition: 0.7s;
    margin-left: 46%;
    margin-right: 46%;
}
#logo-link:hover #header-img-text::after{
    width: 92%;
    margin-left: 0%;
    margin-right: 0%;
}
nav{
    width: 70%;
    margin-left: 8%;
    transition: 1s;
}
#logo-link:hover + nav{
    margin-left: 4.2%;
}
nav ul{
    margin-top: 0px;
    width: 100%;
    height: 100%;
}
#nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-link{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    align-self: center;
    height: 100%;
    width: 150px;
    text-align: center;
    justify-content: center;;
    transition: 0.5s;
    border-radius: 2rem;
    margin-right: 50px;
}
.nav-link:hover{
    color: rgb(225,225,225);
    background-color: rgb(43,43,43);
    border-radius: 0rem;
    letter-spacing: 1px;
}
.nav-link li{
    align-self: center;
}
.nav-link li::after{
    content:'';
    display: block;
    height: 4px;
    transition: 0.5s;
    width: 0%;
}
.nav-link:hover li::after{
    background-color: rgb(225, 225, 225);
    border-radius: 2px;
    width: 100%;
}

/* Formularz */

#input{
    padding: 20px 0px 20px 0px;
}
#input h1{
    position:relative; /* potrzebne bym nie był pod tłem */
    text-align: center;
    font-size: 30px;
    color:rgb(43, 43, 43);
    text-shadow: 1px 1px 0px yellow;
    width: fit-content;
    margin: auto;
    z-index: 2;
    letter-spacing: 5px;
}
#newsletter-background{
    display: block;
    background-color: rgb(255, 255, 0);
    width: 235px;
    height: 6px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -15px;
    z-index: 1;
}
#input p{
    font-weight: 400;
    width: max-content;
    margin: auto;
    font-family: 'Smooch Sans';
    font-size: 20px;
}
#input form{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#email{
    border-radius: 2px;
    border-width: 4px;
    border-color: yellow;
    border-style: solid;
    box-shadow: 3px 3px 0px rgb(43,43,43), 6px 6px 0px yellow;
    padding: 5px;
    width: 250px;
    margin: 10px;
}
#input input[type='email']{
    font-size: 18px;
    font-family: 'Smooch Sans';
    text-align: center;
}
#input input[type='email']:focus{
    outline: none;
    font-weight: 600;
}
#submit{
    margin-top: 5px;
    width: 150px;
    border-color: yellow;
    box-shadow: 3px 3px 0px rgb(43,43,43), 6px 6px 0px yellow;
    border-width: 3px;
    border-style: solid;
    background-color: white;
    color: rgb(43,43,43);  
    font-family: 'Smooch Sans';
    font-size: 20px;
    font-weight: 900;
    transition: 0.7s;
}
#submit:hover{
    background-color: rgb(43,43,43);
    color: white;
    letter-spacing: 3px;
}
#submit:active{
    width: 160px;
    height: 30px;
}

/* Zalety produktu czy coś */

#features{
    padding-top: 0px;
    width: 810px;
    margin: auto;
}
#features div{
    display: grid;
    grid-template-columns: 100px 1fr;
    font-size: 30px;
    font-family: 'Smooch Sans';
    font-weight: 500;
    height: 80px;
}
#features b{
    text-shadow: 1px 1px 0px yellow;
    font-weight: 700;
    letter-spacing: 3px;
}
#features span{
    position: relative;
    top: 50%;
    transform: translateY(-35%);
}