@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Radio+Canada&family=Road+Rage&family=Smooch+Sans:wght@100;200;300;400;500;600;900&family=Square+Peg&display=swap');
:root{
    --yellow: rgb(255,225,0);
    --blackish: rgb(43,43,43);
    --whitish: rgb(225,225,225);
}
body{
    margin: 0px;
    font-family: 'Radio Canada';}
main{
    margin: 0px;}


/* Header */
#header{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: var(--yellow);
    font-family: 'Road Rage';
    z-index: 20;
    display: grid;
    grid-template-columns: 27% 1fr;}
#header-img{
    padding-left: 2%;}
#logo-link{
    text-decoration: none;
    color: var(--blackish);
    display: flex;}
#logo-link:hover + nav{
    width: 96%;}
#header-img-text{
    position: relative;
    left: 30px;
    font-size: 25px;
    font-weight: 900;
    padding-top: 10px;
    font-size: 35px;
    transition: 1s;
    font-family: 'Smooch Sans';}
#logo-link:hover #header-img-text{
    font-size: 40px;
    padding-top: 5px;
    color: black;
    letter-spacing: 3px;}
#header-img-text::after{
    position: relative;
    content:'';
    top: -6px;
    display: block;
    height: 4px;
    background:linear-gradient(90deg,rgba(43,43,43,0),rgba(255, 255, 255, 0.844) 25% 75%,transparent 100%);
    width: 0%;
    border-radius: 5px;
    transition: 0.7s;
    margin-left: 46%;
    margin-right: 46%;}
#logo-link:hover #header-img-text::after{
    width: 92%;
    margin-left: 0%;
    margin-right: 0%;}
nav{
    width: 100%;
    transition: 1s;}
#nav-ul{
    margin-top: 0px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;}
.nav-link{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    align-self: center;
    height: 100%;
    width: 150px;
    text-align: center;
    justify-content: center;;
    transition: 0.5s;
    border-radius: 2rem;
    margin-left: 15px;}
.nav-link:hover{
    color: var(--whitish);
    background-color: var(--blackish);
    border-radius: 0rem;
    letter-spacing: 2px;}
.nav-link li{
    align-self: center;}
.nav-link li::after{
    content:'';
    display: block;
    height: 4px;
    transition: 0.5s;
    width: 0%;}
.nav-link:hover li::after{
    background-color: var(--whitish);
    border-radius: 2px;
    width: 100%;}
/*  */
/*  */
/*  */
/*  */
/* Formularz */
/*  */
/*  */
/*  */
/*  */
#input{
    padding: 20px 0px 20px 0px;
    background-color: rgb(253, 253, 202);
    margin-bottom: -10px;}
#input h1, #features h1{
    position:relative; /* potrzebne bym nie był pod tłem */
    text-align: center;
    font-size: 30px;
    color:rgb(43, 43, 43);
    text-shadow: 1px 1px 0px var(--yellow);
    width: fit-content;
    margin: auto;
    z-index: 2;
    letter-spacing: 5px;}
#h1-background{
    display: block;
    background-color: rgb(255, 255, 0);
    width: 235px;
    height: 6px !important;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -15px;
    z-index: 1;}
#input p, #features p{
    font-weight: 400;
    width: max-content;
    margin: auto;
    font-family: 'Smooch Sans';
    font-size: 20px;}
#input form{
    align-items: center;
    display: flex;
    flex-direction: column;}
#email{
    border-radius: 2px;
    border-width: 4px;
    border-color: var(--yellow);
    border-style: solid;
    box-shadow: 3px 3px 0px var(--blackish), 6px 6px 0px var(--yellow);
    padding: 5px;
    width: 250px;
    margin: 10px;}
#input input[type='email']{
    font-size: 18px;
    font-family: 'Smooch Sans';
    text-align: center;}
#input input[type='email']:focus{
    outline: none;
    font-weight: 600;}
#submit{
    margin-top: 5px;
    width: 150px;
    border-color: var(--yellow);
    box-shadow: 3px 3px 0px var(--blackish), 6px 6px 0px var(--yellow);
    border-width: 3px;
    border-style: solid;
    background-color: white;
    color: var(--blackish);  
    font-family: 'Smooch Sans';
    font-size: 20px;
    font-weight: 900;
    transition: 0.7s;}
#submit:hover{
    background-color: var(--blackish);
    color: white;
    letter-spacing: 3px;}
#submit:active{
    width: 160px;
    height: 30px;}
/*  */
/*  */
/*  */
/* Zalety produktu czy coś */
/*  */
/*  */
/*  */
#features{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 810px;
    margin: auto;}
#features #h1-background{
    width: 180px;}
#features div{
    display: grid;
    grid-template-columns: 100px 1fr;
    font-size: 30px;
    font-family: 'Smooch Sans';
    font-weight: 500;
    height: 80px;}
#features p{
    margin-bottom: 10px;}
#features b{
    text-shadow: 1px 1px 0px var(--yellow);
    font-weight: 700;
    letter-spacing: 3px;}
#features span{
    position: relative;
    top: 50%;
    transform: translateY(-35%);}
/*  */
/*  */
/*  */
/* Video  */
/*  */
/*  */
/*  */
#how-to{
    width: 100%;
    display: flex;
    justify-content: center;
    border-width: 6px;
    border-left: 0px;
    border-right:0px;
    border-style: dashed;
    background-color: rgba(255,255,255,0);
    margin-top: -5px;
    margin-bottom: -5px;
    border-color: black;}
#ht-border-color{
    border-top: 4px;
    border-bottom: 4px;
    border-color: var(--yellow);
    border-style: solid;
    width: 100%;
    border-left: 0px;
    border-right:0px;
    margin-bottom: 20px;}
#ht-wrap{
    margin:0px;
    display: flex;
    justify-content: center;}
#video{
    border-style: solid;
    border-width: 3px;
    border-color: var(--yellow);
    box-shadow: 3px 0px 0px black,3px 3px 0px black, -3px 0px 0px black,-3px 3px 0px black, 0px 3px 0px black, 0px -3px 0px black,-3px -3px 0px black, 3px -3px 0px black;
    /*box shadow ułożony jest tak że najpierw jest ściana a potem respektywne uzupełnienie w kącie*/
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 1s;}
.ht-h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    color:rgb(43, 43, 43);
    text-shadow: 2px 1px 0px var(--yellow);
    font-family: 'Road Rage';
    font-size: 50px;
    transition: 1s;}
#ht-wrap:hover .ht-h2{
    letter-spacing: 6px;
    font-size: 55px;
    color:var(--yellow);
    background-color: rgb(43, 43, 43);  
    border-radius: 20px;
    text-shadow: 2px 1px 0px black;}
#ht-wrap:hover #video{
    margin-left: 20px;
    margin-right: 20px;}
/*  */
/*  */
/*  */
/* Ceny */
/*  */
/*  */
/*  */
#prices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-bottom: 40px;
    padding-top: 20px;
    color: var(--whitish);
}
.usługa{
    background-color:rgb(43, 43, 43);
    margin: 0px 20px 0px 20px;
    border-style: solid;
    border-color: var(--yellow);
    border-width: 3px;
    box-shadow: 3px 0px 0px black,3px 3px 0px black, -3px 0px 0px black,-3px 3px 0px black, 0px 3px 0px black, 0px -3px 0px black,-3px -3px 0px black, 3px -3px 0px black;
    display: grid;
    grid-template-rows: 40px 80px 200px 1fr;
}
.cena, .nazwa-usługi{
    text-align: center;
    letter-spacing: 3px;
    text-transform:  uppercase;
    text-shadow: 1px 1px 0px black;
}
.cena{
    border-width: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color:var(--yellow);
    padding-bottom: 10px;
}
.nazwa-usługi{
    font-size: 23px;
    margin-bottom: -5px;
}
#prices ul{
    margin-top: -5px;
    list-style:square;
}
#prices li{
    padding: 5px 0px 5px 0px;
    margin-right: 30px;
}
.buy{
    width: 100%;
    font-family: 'Road Rage';
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0px var(--yellow);
    transition: 0.7s;
    border-radius: 0px;
    border-style: none;
}
.buy:hover{
    font-size: 30px;
    letter-spacing: 5px;
    background-color: var(--blackish);
    color: var(--yellow);
    text-shadow: 1px 1px 0px black;
    border-style: none;
    cursor: pointer;
}
/*  */
/*  */
/*  */
/* Footer */
/*  */
/*  */
/*  */
/* footer{
    background-color: var(--yellow);
    height: 100%;
    margin-bottom: -16px;
    margin-top: -21px;
} */